@import "variables";
@import "header";
@import "main";
@import "section";
@import "footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    .logo{
        height: 50px;
    }
    a{
        color: black;
        font-family:$text-h1;
    }
}

